dialog {
    width: 400px;
    height: 200px;
    margin: 0px auto;
    top: 50%;
    border-radius: 20px; 
    translate: translateY(-50%);
}

dialog::before {
    display: flex;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    align-items: center;
}