:root {
    --WHITE: #fff;
    --BLACK: #000;
    --PRIMARY: #007bff;
    --SECONDARY: #6c757d;
    --SUCCESS: #28a745;
    --DANGER: #dc3545;
    --WARNING: #ffc107;
    --INFO: #17a2b8;
    --LIGHT: #f8f9fa;
    --DARK: #343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Verdana', Geneva, sans-serif;
}

ul {
    list-style: none;

    & li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: inherit;
}